#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}

.header{
  background-color: #61dafbaa;
  filter: drop-shadow(0 0 6em #eee);
  display: flex;
}
.motto{
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1;
}
.headerImage img{
  max-width: 80%;
  max-height: 400px;
}

.body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.group img{
  width: 200px;
  height: 200px;
  margin-bottom: 0;
}
.group p{
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #000;
}
.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full screen height */
  background-color: #f4f6f8; /* light background */
}
.cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.card{
  display: block;
  box-shadow: #0000 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 2rem;
  min-height: 140px;
  width: 320px;
}

.signin-container form {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.signin-container label {
  display: block;
  margin-bottom: 1rem;
}

.signin-container input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.log{
  width: 100%;
  display: block;
}

footer p{
  
  color: #fff;
}
.extratext{
  color: #000;
  margin-top: 1rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #000;
}
