body{
    background-color: #fff;
    margin: 0;
    
}
.chatHeader{
  position: fixed;         
    top: 0;                   
    left: 0;                  
    width: 100%; 
    background-color: #3d1d77;
    color: black;
}
header p{
    float: right;
    right: 0;
}
header h1{
    color: #00bcd4;
}
.chatRoom{
    width: 100%;
    height:100%
}

.send{
    position: fixed;          /* Keep it in place when scrolling */
    bottom: 0;                   /* Stick to the top */
    left: 0;                  /* Align to left edge */
    width: 100%; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #3d1d77;
    color: black;
}
.message {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 0;
    max-width: 70%;
}
.sent {
    background-color: #00bcd4;
    color: black;
    align-self: flex-end;
    left:0;
}

.received {
    background-color: #2e3038;
    align-self: flex-start;
}
.chatInput {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    display: flex;
    background-color: #2e3038;
    padding: 10px;
    box-sizing: border-box;
}

.chatInput input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    
}
