header{
    display:flex;
    background-color: #61dafbaa;
    filter:  drop-shadow(0 0 10em #eee);
}
.PersonalDetails{
    display: flex;
}
.PersonalDetails img{
  width:200px;
  height: 200px;
  border-radius: 50%;
}
.Details{
  display: block;
}
.container{
  display: flex;
}
.sidebar{
  background-color:#3d1d77 ;
  width:25%;

}
.sidebar Link{
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  padding: 10px;
}
.sidebar div{
  padding: 15px;
  display: flex;
  align-items: center;
}
.links{
  display: flex;
  color: #646cffaa;

}
.Specifics{
  padding: 10px;
}
.container main{
  width: 75%;
}
.graph{
    width: 100%;
    height: 400px;
    margin-bottom: 400px;
}
.body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.group img{
  width: 200px;
  height: 200px;
  margin-bottom: 0;
}
.group p{
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #000;
}